<main><br>
  <div class="container" *ngIf="userData" style="padding: 0px 20px 20px 20px;">
    <h3 style="text-align: center; color: #6435c9;">Users</h3>
    <table class="ui violet table">
      <thead>
        <tr>
          <th>Username</th>
          <th>Email</th>
          <th>Phone Number</th>
        </tr>
      </thead>
      <tbody class="tabular" *ngFor="let data of userData">
        <tr>
          <td>{{ data.username }}</td>
          <td>{{ data.email }}</td>
          <td>{{ data.phoneNumber }} </td>
        </tr>
      </tbody>
    </table>
  </div>
  <!-- <div *ngIf="!userData">
    <h5 style="text-align: center;">No Users</h5>
  </div> -->
  <div *ngIf="invalid" style="text-align: center;">
    <span style="color: red; font-size: 20px;">Error Fetching User Details.</span>
  </div>
</main>
<div class="image">
  <div class="head-text">
    <h1>Wallet-Bank</h1>
    <hr>
    <h3>Easy Money Trasfer</h3>
  </div>
</div>